/* Global Styles */
.container {
    background-color: var(--background);
    position: relative;
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    gap: 10vh;
    margin-top: 10vh;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 80vh;
    justify-content: space-around;
}

.about {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
}

.about h1 {
    color: var(--black);
    font-size: 3rem;
    text-align: center;
}

.about h2 {
    color: var(--black);
    font-size: 1.5rem;
}

.about p {
    color: var(--text--black);
    font-size: 1rem;
    font-weight: 450;
}

/* Game Icons */
.iconsContainer {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
}

.iconsContainer h1 {
    color: var(--text--black);
    font-size: 3rem;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.icons img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    cursor: pointer;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.425));
}

.imageContainer {
    display: flex;
    width: 30vw;
    align-self: flex-end;
}

.imageContainer img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Curved Line */
.line {
    height: 1px;
    width: 80%;
    position: relative;
    align-self: center;
}

.line svg {
    width: 100vw;
    height: 500px;
    position: absolute;
    top: -250px;
}

.line svg path {
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    fill: none;
}

.line .box {
    height: 40px;
    width: 100%;
    position: relative;
    top: -20px;
    z-index: 1;
}

.line .box:hover {
    height: 400px;
    top: -250px;
}

/* Skills */
.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer h1 {
    color: var(--black);
    font-size: 3rem;
}

.skillsRow {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    width: 80vw;
    background-color: rgb(233, 231, 225);
    border-radius: 5px;
}

.skillCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 40vh;
}

.skillCategory h2 {
    color: var(--textDark);
    font-size: 2rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 20vh;
    width: 20vw;
    gap: 20px;
}

.skills img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    cursor: pointer;
    filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.425));
}

/* Media Queries */
@media (max-width: 800px) {
    .container {
        height: 80%;
    }
    
    .aboutContainer {
        flex-direction: column;
    }

    .about, .imageContainer {
        width: 90%;
        align-self: center;
    }

    .about h1 {
        font-size: 2rem;
    }

    .about h2 {
        font-size: 1.2rem;
    }

    .about p {
        font-size: 0.9rem;
    }

    .iconsContainer {
        width: 90%;
    }

    .iconsContainer h1 {
        font-size: 2rem;
    }

    .icons {
        flex-wrap: wrap;
        gap: 5px;
    }

    .icons img {
        height: 80px;
        width: 80px;
    }

    .imageContainer {
       display: none;
    }

    .line  {
       display: none;
    }

    .skillsContainer h1 {
        font-size: 2rem;
    }

    .skillsRow {
        flex-direction: column;
        width: 90%;
        background-color: var(--background);
    }

    .skillCategory {
     width: 80%;
     margin-bottom: 5vh;
     background-color: rgb(177, 175, 175);
     height: 50%;
     border-radius: 10px;
    }

    .skillCategory h2 {
        font-size: 1.5rem;
    }

    .skills {
        width: 100%;
        justify-content: center;
    }

    .skills img {
        height: 60px;
        width: 60px;
    }
}

/* Medium Devices */
@media (min-width: 801px) and (max-width: 1300px) {
    .aboutContainer {
        flex-direction: column;
        height: auto;
    }

    .about {
        width: 80%;
        align-self: center;
        text-align: center;
    }

    .about h1 {
        font-size: 2.5rem;
    }

    .about h2 {
        font-size: 1.4rem;
    }

    .about p {
        font-size: 1rem;
    }

    .iconsContainer {
        width: 80%;
    }

    .iconsContainer h1 {
        font-size: 2.5rem;
    }

    .icons {
        flex-wrap: wrap;
        gap: 10px;
    }

    .icons img {
        height: 100px;
        width: 100px;
    }

    .imageContainer {
       display:  none;

    }

    .line  {
       display: none;
    }

    .skillsContainer h1 {
        font-size: 2.5rem;
    }

    .skillsContainer{
        margin-top: 20vh;
    }

    .skillsRow {
        flex-direction: column;
        width: 90%;
        background-color: var(--background);
    }

    .skillCategory {
     width: 90%;
     margin-bottom: 5vh;
     background-color: rgb(177, 175, 175);
     height: auto;
     border-radius: 10px;
    }

    .skillCategory h2 {
        font-size: 1.8rem;
    }

    .skills {
        width: 100%;
        justify-content: center;
    }

    .skills img {
        height: 70px;
        width: 70px;
    }
}
