
.container {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
     position: relative;
    background-image: url('../../public/background.png') ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 53%;
    font-family: 'DM Sans', sans-serif;

}

.resumeWrapper {
    display: flex;
    justify-content: center;
   
}


.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/background.png') ;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 53%;
    filter: drop-shadow(25px 4px 10px rgba(10, 1, 83, 0.663));
    pointer-events: none;
    z-index: 0;
}

.hero{
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-direction: row;
}



.resumeBTN {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    background-color: var(--background);
    color: var(--background);
    width: 10.5em;
    padding: 10px 20px;
    height: 4.25em;
    border-radius: 2.125em;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600 ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(27, 67, 197, 0.12) 0px -12px 30px, rgba(8, 66, 155, 0.2) 0px 4px 6px, rgba(8, 56, 160, 0.17) 0px 12px 13px, rgba(7, 59, 202, 0.09) 0px -3px 5px;
    
}

.resumeBTN:hover,
.resumeBTN:focus {
    color: var(--text);
    border: 0.5px solid var(--text);

}

.resumeBTN::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--textDark);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
    border-radius: 2.125em;

}

.resumeBTN:hover::before,
.resumeBTN:focus::before {
    transform: scale(0);

}


.hero h1{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    text-shadow: 4px 4px 2px rgba(0, 8, 46, 0.69);

}

.touchContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
    margin-left: 5vw;
    margin-bottom: 10vh;

}

.touchWrapper{
    height: 50vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.touch{
    background-color: var(--textDark);
    color: white;
    height: 18vh;
    width: 18vh;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(27, 67, 197, 0.12) 0px -12px 30px, rgba(8, 66, 155, 0.2) 0px 4px 6px, rgba(8, 56, 160, 0.17) 0px 12px 13px, rgba(7, 59, 202, 0.09) 0px -3px 5px;

}

.touch h1{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.touch::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--secondary);
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
}

.touch:hover::before,
.touch:focus::before {
    transform: scale(1);
}



/* MOBILE */


@media screen and (max-width: 800px) {
    .container {
        background-size: 200%; 
        width: 100vw; ;
    }

    .container::before {
        background-size: 200%;
    }

    .hero {
        flex-direction: row;
        width: 90%; 
        z-index: 1;
        height: 80vh;
    }

    .touchContainer {
        align-self: flex-start;
        height: 50%;
    }
    .touchContainer img{
        width: 80%;
    }

  
    .touch h1{
        font-size: 0.8rem;
        font-weight: 600;
        text-align: center;
    }

    .touch {
        width: 10vh; 
        height: 10vh; 
    }

   

    .text{
        margin-right: 10vw;
    }

    .text h1 {
        font-size: 1rem; 
        color: var(--white);
    }

    .resumeBTN {
        width: 80%; /* Occupy full width */
    }
}
