.project{
    border-top: 2px solid var(--background);
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.project p{
    font-size: 2.5vw;
    margin: 0px;
    color: var(--background);
}

.project p:nth-of-type(1){
    margin-right: 0.5vw;
}
.project p:nth-of-type(2){
    margin-left: 0.5vw;
}
.project:last-of-type{
    border-bottom: 2px solid white;
}
.project .imgContainer{
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.project img{
    width: 10vw;
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .project{
        padding-block: 3vw;
    }
    .project p{
        font-size: 4vw;
    }
}
  
@media screen and (max-width: 767px) {
    .project{
        padding-block: 10vw;
    }
    .project p{
        font-size: 5vw;
    }
}
