@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  font-family: 'DM Sans', sans-serif;
}

body, html{
  overflow-x: hidden;
}

:root {
  --background: #F6F4EB;
  --primary: #EABE6C;
  --secondary: #749BC2;
  --text: #4682A9;
  --textDark: #295a7a;
  --white: #FFFFFF;
  --black: #000000;
  --bg--black: #272727;
  --text--black: #34353a;
}
