body {
  margin: 0;
  padding: 0;
  color: var(--text);
  background-color: var(--background);
  overflow-x: hidden;
}

:root {
  --background: #F6F4EB;
  --primary: #EABE6C;
  --secondary: #749BC2;
  --text: #4682A9;
  --textDark: #295a7a;
  --white: #FFFFFF;
  --black: #000000;
}
