.header {
    padding: 30px;
    position: fixed;
    right: 0;
    transition: transform 0.3s ease-in-out;
    transform: scale(0);
    z-index: 99;
}

.visible .header {
    transform: scale(1);
}

.header .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    position: relative;
    z-index: 1;
}



.header .button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--textDark);
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: center;
    overflow: hidden;
}

.header .button:hover::before,
.header .button:focus::before {
    transform: scale(1);
}

.header .burger {
    width: 100%;
}

.header .burger::after,
.header .burger::before {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: auto;
    background-color: white;
    position: relative;
    transition: transform 0.3s;
}

.header .burger::after {
    top: -5px;
}

.header .burger::before {
    top: 5px;
}

.header .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
}

.header .burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
}

@media screen and (max-width: 800px) {
    .header .button {
        width: 60px;
        height: 60px;
    }

}

