.navbar {
  width: 100vw;
  position: absolute;
  z-index: 1;
  top: 0;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', 'sans-serif';
  padding-inline: 20px;
}

.logo {
  margin-left: 20px;
}

.logo h1 {
  font-size: 20px;
}



.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 4vw;
  margin: 0;
}

.navbar li {
  margin-right: 20px;
  position: relative;
}

.navbar a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  position: relative;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;

}

.navbar a:hover {
  color: var(--textDark);
}

.navbar a::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--textDark);
  bottom: -22px; 
  left: 50%;
  transform: scale(0) translateX(-50%);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.navbar a:hover::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--textDark);
  bottom: -22px; 
  left: 50%;
  transform: scale(1) translateX(-50%);
  border-radius: 50%;

}


@media screen and (max-width: 800px) {
    .navbar {
        width: 100vw;
        justify-content: space-evenly;
    }
    .navbar a {
      font-size: 16px;
    
    }
}