.menu {
    height: 100vh;
    background-color: var(--secondary);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 98;
}

.menu .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu .body .nav {
    font-size: 56px;
}

.menu .body .nav .header {
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 40px;
}

.menu .body .nav a {
    text-decoration: none;
    color: var(--primary);
}

.menu .body .nav ul {
    color: var(--primary);
    transition: all 0.4s ease-in-out;
    padding: 0;
    position: relative;
}

.menu .body .nav ul li {
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px; 
    list-style-type: none;
}
.menu .body .nav ul li:hover{
    transform: translateX(10px);
}

.menu .body .nav ul li::before {
    content: "•";
    color: var(--primary);
    display: inline-block;
    margin-right: 10px;
    transform: scale(0);
    transition: transform 0.4s ease-in-out;
}

.menu .body .nav ul li:hover::before {
    transform: scale(1);
}

.menu .body .nav a:hover {
    color: var(--primary);

}

