.menu {
    height: 100vh;
    background-color: rgb(41, 41, 41);
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    z-index: 98;
}

.menu .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu .body .nav {
    font-size: 56px;
}

.menu .body .nav .header {
    color: rgb(153, 153, 153);
    border-bottom: 1px solid rgb(153, 153, 153);
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 40px;
}

.menu .body .nav a {
    text-decoration: none;
    color: var(--text);
}

.menu .body .nav ul {
    list-style-type: none;
    padding: 0;
}

.menu .body .nav ul li{
    transition: all 0.4s ease-in-out;
    margin-bottom: 20px; 

}

.menu .body .nav ul li:hover {
    list-style-type:disc;
    color: var(--textDark);
    margin-block: 40px; 

}

.menu .body .nav a:hover {
    color: var(--textDark);

}

